<!-- ============================================================= FOOTER ============================================================= -->
<footer class="footer">
  <div class="sub-footer">
    <div class="container">
      <div class="sub-footer-widget">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <!-- ============================================================= FOOTER SUBSCRIBE ============================================================= -->
            <div class="module">
              <div class="module-heading">
                <h2 class="module-title">Đặt mua</h2>
              </div><!-- /.module-heading -->

              <div class="module-body">
                <div role="form" class="subscribe-form">
                  <div class="row">
                    <div class="col-lg-10">
                      <div class="input-group">
                        <input type="text" class="form-control subscriber-name"
                               placeholder="Nhập email của bạn">
                        <span class="input-group-btn">
                        <button class="btn btn-primary-dark  send-btn"
                        type="submit">Gửi</button>
                        </span>
                      </div><!-- /.input-group -->
                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </div><!-- /.subscribe-form -->
              </div><!-- /.module-body -->
            </div><!-- /.module -->

            <!-- ============================================================= FOOTER SUBSCRIBE : END ============================================================= -->
          </div><!-- /.col -->

          <div class="col-md-4 hidden-sm col-xs-12">
            <!-- ============================================================= FOOTER BOOK TIPS ============================================================= -->
            <div class="module">
              <div class="module-heading">
                <h2 class="module-title">Mẹo sách</h2>
                <p class="module-subtitle">Để ý đến giá sách của tác giả bạn yêu thích</p>
              </div><!-- /.module-heading -->

              <div class="module-body subfooter-content">
                <p>Để viết hay trước hết phải hay đọc, và khả năng cao là tác giả bạn ưa thích cũng đọc những cuốn được viết với giọng văn cùng sở thích của bạn. Giờ đây, nhiều tác giả thường là thành viên của mạng xã hội Goodreads. Việc theo dõi họ thích đọc gì và đánh giá các đầu sách khác thế nào là khá dễ dàng và hữu ích.</p>
              </div><!-- /.module-body -->
            </div><!-- /.module -->
            <!-- ============================================================= FOOTER BOOK TIPS : END ============================================================= -->

          </div><!-- /.col -->

          <div class="col-md-4 col-sm-6 col-xs-12">
            <!-- ============================================================= FOOTER SOCIAL SITE ============================================================= -->
            <div class="module">
              <div class="module-heading">
                <h2 class="module-title">Xã hội</h2>
                <p class="module-subtitle">THEO DÕI CHÚNG TÔI TRÊN TRANG MẠNG XÃ HỘI</p>
              </div><!-- /.module-heading -->

              <div class="module-body social-media">
                <ul class="nav nav-pills social-media-list" id="tooltip">
                  <li style="background-color:#587aca;"><a data-toggle="tooltip" title="Facebook"
                                                           data-placement="bottom"
                                                           href="http://facebook.com/transvelo/"><i
                    class="icon fa fa-facebook"></i></a></li>
                  <li style="background-color:#f46899;"><a data-toggle="tooltip" title="Dribble"
                                                           data-placement="bottom"
                                                           href="http://dribbble.com/transvelo/"><i
                    class="icon fa fa-dribbble"></i></a></li>
                  <li style="background-color:#5dc8ff;"><a data-toggle="tooltip" title="Twitter"
                                                           data-placement="bottom"
                                                           href="http://twitter.com/transvelo/"><i
                    class="icon fa fa-twitter"></i></a></li>
                  <li style="background-color:#358aff;"><a data-toggle="tooltip"
                                                           data-placement="bottom" title="Btc"
                                                           href="http://btc.com/transvelo/"><i
                    class="icon fa fa-btc"></i></a></li>
                  <li style="background-color:#8e714b;"><a data-toggle="tooltip"
                                                           data-placement="bottom"
                                                           title="Instagram"
                                                           href="http://instagram.com/transvelo/"><i
                    class="icon fa fa-instagram"></i></a></li>
                  <li style="background-color:#4d6982;"><a data-toggle="tooltip"
                                                           data-placement="bottom" title="Tumbler"
                                                           href="http://tumbler.com/transvelo/"><i
                    class="icon fa fa-tumblr"></i></a></li>
                </ul><!-- /.nav -->
              </div><!-- /.module-body -->
            </div><!-- /.module -->

            <!-- ============================================================= FOOTER SOCIAL SITE : END ============================================================= -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.sub-footer-widget -->
    </div><!-- /.container -->
  </div><!-- /.sub-footer -->

  <div class="main-footer">
    <div class="container">
      <div class="row footer-widgets">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <!-- ============================================================= FOOTER SHIPPING DELIVERY ============================================================= -->
          <div class="module">
            <div class="module-heading">
              <h4 class="module-title">Vận chuyển</h4>
            </div><!-- /.module-heading -->

            <div class="module-body">
              <ul class="list-unstyled list-link">
                <li><a href="checkout.html">VỀ GIAO HÀNG MIỄN PHÍ</a></li>
                <li><a href="checkout.html">VỀ VẬN CHUYỂN</a></li>
                <li><a href="checkout.html">GIÁ CƯỚC VẬN CHUYỂN</a></li>
                <li><a href="checkout.html">TRẢ HÀNG TẠI CỬA HÀNG</a></li>
              </ul><!-- /.list-link -->
            </div><!-- /.module-body -->
          </div><!-- /.module -->
          <!-- ============================================================= FOOTER SHIPPING DELIVERY : END ============================================================= -->
        </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
          <!-- ============================================================= FOOTER INFORMATION ============================================================= -->
          <div class="module">
            <div class="module-heading">
              <h4 class="module-title">THÔNG TIN</h4>
            </div><!-- /.module-heading -->

            <div class="module-body">
              <ul class="list-unstyled list-link">
                <li><a href="checkout.html">Tiếp xúc</a></li>
                <li><a href="checkout.html">Vận chuyển</a></li>
                <li><a href="checkout.html">THÔNG BÁO PHÁP LÝ</a></li>
                <li><a href="checkout.html">CÁC ĐIỀU KHOẢN VÀ ĐIỀU KIỆN</a></li>
              </ul><!-- /.list-link -->
            </div><!-- /.module-body -->
          </div><!-- /.module -->
          <!-- ============================================================= FOOTER INFORMATION : END ============================================================= -->
        </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
          <!-- ============================================================= FOOTER QUICK HELP ============================================================= -->
          <div class="module">
            <div class="module-heading">
              <h4 class="module-title">TRỢ GIÚP</h4>
            </div><!-- /.module-heading -->

            <div class="module-body">
              <ul class="list-unstyled list-link">
                <li><a href="contact.html">DỊCH VỤ KHÁCH HÀNG</a></li>
                <li><a href="contact.html">TÌNH TRẠNG ĐẶT HÀNG</a></li>
                <li><a href="contact.html">TRẢ HÀNG DỄ DÀNG</a></li>
                <li><a href="contact.html">THU HỒI SẢN PHẨM</a></li>
              </ul><!-- /.list-link -->
            </div><!-- /.module-body -->
          </div><!-- /.module -->
          <!-- ============================================================= FOOTER QUICK HELP : END ============================================================= -->
        </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
          <!-- ============================================================= FOOTER PAYMENT ============================================================= -->
          <div class="module">
            <div class="module-heading">
              <h4 class="module-title">THANH TOÁN</h4>
              <p class="module-subtitle">BÂY GIỜ CHÚNG TÔI CHẤP NHẬN THANH TOÁN</p>
            </div><!-- /.module-heading -->

            <div class="module-body">
              <ul class="nav nav-pills payment-list">
                <li><img src="assets/images/payments/visa.png" alt=""></li>
                <li><img src="assets/images/payments/mastercard.png" alt=""></li>
                <li><img src="assets/images/payments/paypal.png" alt=""></li>
                <li><img src="assets/images/payments/ebay.png" alt=""></li>
                <li><img src="assets/images/payments/americanexpress.png" alt=""></li>
              </ul><!-- /.payment-list -->
            </div><!-- /.module-body -->
          </div><!-- /.module -->
          <!-- ============================================================= FOOTER PAYMENT : END ============================================================= -->
        </div><!-- /.col -->
      </div><!-- /.row -->

      <!-- ============================================================= FOOTER NAVBAR ============================================================= -->
      <div class="navbar-footer navbar-static-bottom clearfix">
        <p class="navbar-text">Bản quyền &copy; 2014 <span class="navbar-inner-text">ManyBooks</span></p>
        <ul id="example" class="navbar-nav nav ">
          <li><a href="home.html">Trang chủ</a></li>
          <li><a href="#">Về chúng tôi</a></li>
          <li><a href="#">Chứng minh</a></li>
          <li><a href="contact.html">Tiếp xúc</a></li>
          <li><a href="#">Hỗ trợ</a></li>
          <li><a href="contact.html">Vận chuyển</a></li>
          <li>
            <ul class="language-block">
              <li>
                <select class="selectpicker">
                  <option selected>USD</option>
                  <option>EUR</option>
                  <option>INR</option>
                </select>
              </li>
              <li>
                <select class="selectpicker">
                  <option selected>EN</option>
                  <option>DE</option>
                  <option>TA</option>
                </select>
              </li>
            </ul><!-- /.language-block -->
          </li>
        </ul><!-- /.navbar-nav -->
      </div><!-- /.navbar -->
      <!-- ============================================================= FOOTER NAVBAR : END ============================================================= -->
    </div><!-- /.container -->
  </div><!-- /.main-footer -->
</footer><!-- /.footer -->

<!-- ============================================================= FOOTER : END ============================================================= -->
